*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top:100px;
}
:root{
  --winning-blocks: #15b815;
}

/* .container{
  padding: 40px;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

#board{
  display: grid;
  grid-template-columns: repeat(8, 8vmin);
  grid-template-rows: repeat(8, 8vmin);
  gap: .4vmin;
  margin-top: 50px;
  background-color: darkgoldenrod;
    /* height: 400px;
    width: 400px;
    background-color: lightsteelblue;
    border: 15px solid;
    border-radius: 15px;
    position: relative;
    border-color: brown; */
}

button{

  border-radius: 10px;
  background-color: brown;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}

.black {
  background-color: black;
  border: solid black ;
}

.white{
  background-color: white;
  border: solid black ;
}

.checker {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
}

.blue{
  background-color: #0000ff;
}

.red{
  background-color: #ff0000;
}